.social-icons {
  text-align: center;
  width: 200px;
  margin: auto;

  @mixin atSmall {
    width: 400px;
  }

  &__icon {
    background-color: $mainOrange;
    display: inline-block;
    margin: 0 5px 5px 5px;
    width: 72px;
    height: 72px;
    position: relative;

    .icon {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


}
